<div class="tab-pane fade show active" id="show-feature" role="tabpanel" aria-labelledby="home-tab">
  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <form action="/admin/item/add/feature" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Enter name" required />
            </div>
            <div class="form-group">
              <label for="name">QTY</label>
              <input type="number" class="form-control" name="qty" placeholder="Enter qty" required />
            </div>
            <div class="form-group">
              <label for="name">Image</label>
              <input type="file" class="form-control" name="image" required />
            </div>
            <input type="hidden" value="<%= itemId %>" name="itemId" />
            <button type="submit" class="btn btn-primary">save</button>
          </form>
        </div>
        <div class="col-md-7">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>QTY</th>
                  <th>Image URL</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% feature.forEach((data, i) => { %>
                  <tr>
                    <td>
                      <%= i + 1 %>
                    </td>
                    <td>
                      <%= data.name %>
                    </td>
                    <td>
                      <%= data.qty %>
                    </td>
                    <td class="d-flex justify-content-center">
                      <img src="https://admin-vaycation.herokuapp.com/<%= data.imageUrl %>" alt="<%= data.name %>" width="80" />
                    </td>
                    <td>
                      <form class="d-flex justify-content-center align-items-center" action="/admin/item/<%= itemId %>/feature/<%= data._id %>?_method=DELETE" method="POST">
                        <a href="javascript:void()" type="button" class="btn btn-success btn-circle btn-sm button-update" data-id="<%= data._id %>" data-name="<%= data.name %>" data-qty="<%= data.qty %>">
                          <i class="fas fa-edit"></i>
                        </a>
                        <button type="submit" href="" class="btn btn-danger btn-circle btn-sm ml-2">
                        <i class="fas fa-trash"></i>
                      </button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>